@primary-color: #3f51b5;
body {
  font-family: Roboto;
  margin-top: 50px;
  background: #fafafa;
  overflow-y: scroll;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

hr {
  margin-bottom: 30px;
}

p {
  line-height: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

.panel {
  opacity: 0.2;
  transform: scale(0.5);
}

.panel-body {
  padding: 30px;
}

.accordion {
  margin-bottom: 60px;
}

.accordion .collapsed,
.toggle .collapsed {
  display: none;
}

.panel-group {
  .panel {
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  }
  .panel + .panel {
    margin-top: 10px;
  }
  .panel-heading {
    position: relative;
    padding: 0;
    border-radius: 0;
    display: block;
    > a {
      background: #eee;
      display: block;
      padding: 18px 15px;
    }
  }
  .panel-title {
    color: #333;
    font-size: 13px;
  }
  a[aria-expanded='true'] {
    background: @primary-color;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .panel-title {
      color: #fff;
    }
  }
  .accordion-toggle-icon {
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 12px;
    transition: transform .4s ease-out;
    color: #333;
  }
  [aria-expanded='true'] .accordion-toggle-icon {
    color: #fff;
    transform: rotate(180deg) translateZ(0);
  }
}